<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mycouponMapper">

	<resultMap id="resultList" type="MyCoupon">
		<result property="user_id" column="user_id" />
		<result property="coupon_no" column="coupon_no" />
		<result property="coupon_money" column="coupon_money" />	
		<result property="coupon_begin" column="coupon_begin" />	
		<result property="coupon_end" column="coupon_end" />
		
	</resultMap>
	
	<resultMap type="MyCoupon" id="MyCoupon">
		<result property="coupon_no" column="coupon_no" />
		<result property="user_id" column="user_id" />
	</resultMap>
	
	<select id="selectList" resultType="MyCoupon" parameterType="MyCoupon">
		select * from my_coupon 
		 where coupon_no= #{coupon_no} and user_id = #{user_id}
	</select>
	
	<insert id="insertMyCoupon" parameterType="MyCoupon">
	insert into my_coupon
	values(#{coupon_no},#{user_id})
	</insert>
	
	<select id="selectMyCouponList" resultMap="resultList" parameterType="MyCoupon">
		select * from my_coupon join coupon using(coupon_no)
		 where user_id = #{user_id}
	</select>
<!-- 	
	
	
	
	
	<select id="facebookLoginCheck" parameterType="Member"  resultType="Member">
		select * from member 
		where user_id = #{user_id}  
	</select>
	
	<select id="selectMember" parameterType="string" resultType="Member">
	select * from member where user_id = #{user_id}
	</select>
	
	<select id="selectInfoCheck" parameterType="Member" resultType="int">
	select count(user_id) from member where user_id = #{user_id} and birthday = #{birthday}
	</select>
	
	<select id="selectMemberList" resultMap="resultList">
	select * from member
	</select>
	
	<update id="updatePwdMember" parameterType="Member">
	update member set user_pwd = #{user_pwd} where user_id = #{user_id}
	</update>
	
	<update id="updateMember" parameterType="Member">
	update member set user_name = #{user_name}, birthday =#{birthday} , phone =#{phone}  where user_id = #{user_id}
	</update>
	
	<update id="updateBeAdminMember" parameterType="string">
	update member set admin_check = 'Y' where user_id = #{user_id}
	</update>
	
	
	<delete id="deleteMember" parameterType="string">
	delete from member where user_id = #{uid}
	</delete> 
	
	
	
	
	<select id="selectSearchUserid" parameterType="string" resultMap="resultList">
	select * from member where userid like '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchGender" parameterType="string" resultMap="resultList">
	select * from member where gender = #{keyword}
	</select>
	
	<select id="selectSearchAge" parameterType="int" resultMap="resultList">
	select * from member
	
	<if test="keyword == 60 " >
		where age == #{ value}
	</if>
	
	<if test="keyword != 60 ">
	where age between #{value} and #{value +9}
	</if>
	

	</select>
	
	<select id="selectSearchEnrollDate" parameterType="com.jeju.JejuBnB.member.model.vo.SearchDate" resultMap="resultList">
	select * from member where enroll_date between #{begin) and #{end}
	</select>
	
	<select id="selectSearchLoginok" parameterType="string" resultMap="resultList">
	select * from member where login_ok = #{keyword}
	</select>
	
	<select id="selectCheckId" parameterType="string" resultType="int">
	select count(userid) from member where userid = #{userid}
	</select>
	
	
	
	
	
	-->
	
</mapper>
