<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="policyMapper">
	<resultMap type="Policy" id="resultPolicy">
		<id property="policy_no" column="policy_no" />
		<result property="policy_content" column="policy_content" />	
		<result property="policy_type" column="policy_type" />	
	</resultMap>
	
	<resultMap type="Policy" id="resultList">
		<id property="policy_no" column="policy_no" />
		<result property="policy_content" column="policy_content" />	
		<result property="policy_type" column="policy_type" />	
	</resultMap>
	
	
	<select id="selectList" resultMap="resultPolicy">
	select * from policy 
	
	</select>
	
	<insert id="insertPolicy" parameterType="Policy">
	insert into policy
	values ((select nvl(max(policy_no)+1,0) from policy),#{policy_content},#{policy_type})
	</insert>
	
	<!-- <update id="">
	</update>
	
	<delete id="">
	</delete> -->
</mapper>
