<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">

   <resultMap id="resultReservation" type="Reservation" >
      <id property="room_num" column="room_no" />
      <result property="a_num" column="a_num" />
      <result property="c_num" column="c_num" />
      <result property="i_num" column="i_num" />
      <result property="checkin_date" column="checkin_date" />
      <result property="checkout_date" column="checkout_date" />
      <result property="re_num" column="re_num" />
      <result property="user_id" column="user_id" />
      <result property="pay" column="pay" />
   </resultMap>
   
   <select id="selectOne" parameterType="_int" resultType="Reservation">
      select * from reservation where room_no = #{ room_no }
   </select>
   
   <select id="selectReserv" parameterType="_int" resultType="Reservation">
      select * from reservation where room_no = #{ room_no }
   </select>
   
   <select id="selectReservWait" parameterType="_int" resultType="Reservation">
      select * from reservation where room_no = #{ room_no }
   </select>
   
   <insert id="insertReserv" parameterType="Reservation">
      insert into reservation
      values (#{ a_num }, #{ c_num }, #{ i_num }, #{ checkin_date }, #{ checkout_date })
   </insert>

</mapper>