@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
	.login,
    .image {
    min-height: 100vh;
    }
    .bg-image {
    background-image: url('../images/24.jpg');
    background-size: cover;
    background-position: center center;
    }
    .logo img{
      position: relative;
      left : 6%;
    }
    .rounded-pill {
      border-radius: 8px;
    }
    form .signin__btn {
      background: #e91e63;
      color: white;
      display: block;
      width: 92.5%;
      max-width: 680px;
      height: 50px;
      border-radius: 8px;
      margin: 0 auto;
      border: none;
      cursor: pointer;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      box-shadow: 0 15px 30px rgba(233, 30, 99, 0.36);
      -webkit-transition: .2s linear;
      transition: .2s linear;
      font-size: 19px;
    }
    form .signin__btn:hover {
      box-shadow: 0 0 0 rgba(233, 30, 99, 0);
    }
    .separator {
      display: block;
      margin: 30px auto 10px;
      text-align: center;
      height: 40px;
      position: relative;
      background: transparent;
      color: rgba(15, 19, 42, 0.4);
      font-size: 13px;
      width: 90%;
      max-width: 680px;
    }
    .separator::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      background: rgba(15, 19, 42, 0.2);
      height: 1px;
      width: 45%;
    }
    .separator::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      background: rgba(15, 19, 42, 0.2);
      height: 1px;
      width: 45%;
    }

    .google__btn {
      display: block;
      width: 90%;
      max-width: 680px;
      margin: 20px auto;
      height: 50px;
      cursor: pointer;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      border-radius: 8px;
      border: none;
      line-height: 40px;
    }
    .google__btn.google__btn {
      background: #5b90f0;
      color: white;
      box-shadow: 0 15px 30px rgba(91, 144, 240, 0.36);
      -webkit-transition: .2s linear;
      transition: .2s linear;
    }
    .google__btn.google__btn .fa {
      font-size: 20px;
      padding: 0 5px 0 0;
    }
    .google__btn.google__btn:hover {
      box-shadow: 0 0 0 rgba(91, 144, 240, 0);
    }
    .google__btn.github__btn {
      background: #25282d;
      color: white;
      box-shadow: 0 15px 30px rgba(37, 40, 45, 0.36);
      -webkit-transition: .2s linear;
      transition: .2s linear;
    }
    .google__btn.github__btn .fa {
      font-size: 20px;
      padding: 0 5px 0 0;
    }
    .google__btn.github__btn:hover {
      box-shadow: 0 0 0 rgba(37, 40, 45, 0);
    }
    .findpas {
      color: black;
      margin-left: 42%;
      text-decoration: underline;
    }
    .enroll {
      color: black;
      margin-left: 37%;
      text-decoration: underline;
    }
    .fb_iframe_widget {
    display : inline-block;
    position : relative;
    left : 5.2%;
    }