
    .login,
    .image {
    min-height: 100vh;
    }
    .bg-image {
    background-image: url('../images/30.jpg');
    background-size: cover;
    background-position: center center;
    }
    .logo img{
      position: relative;
      left : 16%;
    }
    .rounded-pill {
      border-radius: 8px;
    }
 
    #submitbutton input{
    background: #3f2b96;
    color: white;
    display: block;
    width: 20.5%;
    max-width: 680px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 15px 30px rgba(63, 43, 150, 0.36);
    -webkit-transition: .2s linear;
    transition: .2s linear;
    position: relative;
    left: -36%;
    margin-bottom: 1%;
    }
    .check_btn {
    background: #3f2b96;
    color: white;
    display: block;
    width: 92.5%;
    max-width: 680px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 15px 30px rgba(63, 43, 150, 0.36);
    -webkit-transition: .2s linear;
    transition: .2s linear;
    }
    .example {
      position: relative;
      left: 5%;
      font-family: 'Montserrat', sans-serif;
    }