@font-face {
   font-family: 'Cafe24Oneprettynight';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }

body {
  margin: 0;
  padding: 0;
}
.mainhead {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 0;
z-index: 1;
transition: all 0.2s ease-in-out;
height: 80px;
background: white;
box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.logo {
position: absolute;
top : -13%;
left : 5%;
}
.logo img{
width : 60%;
}
.dropdown {
background: #fff;
display: inline-block;
padding: 12px 20px;
border-radius: 10px;
width: 100px;
box-sizing: border-box;
height: 50px;
line-height: 25px;
position: absolute;
left : 85%;
top : 17%;
cursor: pointer;
color: #74809d;
font-weight: bold;
box-shadow: 0.5px 0.5px gray;
}
.dropdown:after {
content: "";
display: block;
width: 8px;
height: 8px;
position: absolute;
transform: rotate(45deg);
top: 17px;
border-bottom: 2px solid #74809d;
border-right: 2px solid #74809d;
transition: 0.4s;
}
.dropdown-list  {
width: 200px;
box-sizing: border-box;
padding: 0;
position: absolute;
border-radius: 10px;
margin-top: 90px;
left : 79.9%;
opacity: 0;
background: white;
transition: opacity 0.2s linear;
box-shadow: 0px 0px 3px 0px gray;
}
.dropdown-list li {
list-style: none;
padding: 12px 16px;
font-family: 'Cafe24Oneprettynight';
font-weight: bold;
height: 50px;
line-height: 25px;
box-sizing: border-box;
}
.dropdown-list a{
  text-decoration: none;
  color: #74809d;
}
ul li:first-child {
border-radius: 5px 5px 0 0;
}
ul li:last-child {
border-bottom: none;
border-radius: 0 0 5px 5px;
}
.dropdown-list li:hover {
transition: 0.2s;
cursor: pointer;
border-left: 4px solid #FFC19E;
color: #526187;
background: #f5f5f5;
}
.dropdown > .active {
transition: 0.2s;
background: #fff;
color: #fff;
}
.dropdown > .active:after {
border-bottom: 2px solid #74809d;
border-right: 2px solid #74809d;
transform: rotate(-135deg);
top: 20px;
transition: 0.4s;
}
.opened {
opacity: 1 !important;
}
.myimg {
width: 40px;
height: 40px;
border-radius: 50%;
background-image: url('../images/프로필.jfif');
background-size: cover;
position: absolute;
right: 10px;
top : 5px;
}
.thead{
  width: 100%;
  height: 329px;
  background: linear-gradient( to right,
                     rgba(20, 20, 20, 0.85) 0%,
                     rgba(20, 20, 20, 0.75) 25%,
                     rgba(20, 20, 20, 0.5) 50%,
                     rgba(20, 20, 20, 0.25) 75%,
                     rgba(20, 20, 20, 0) 100%
               ),
               url('../images/29.jpg');
 background-size: cover;
 background-repeat: no-repeat;
}
.timage {
  position: relative;
  width: 1400px;
  height: 500px;
  top : 40%;
  left : 13%;
  background-image: url('../images/01.jpg');
  background-size: cover;
}
[data-am-fadeshow] {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}
[data-am-fadeshow] .fs-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
[data-am-fadeshow] .fs-slide:first-child {
  opacity: 1;
}
[data-am-fadeshow] .fs-quick-nav {
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
[data-am-fadeshow] .fs-quick-btn {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  background-color: rgba(255, 255, 255, 0.8);
}
[data-am-fadeshow] .fs-quick-btn:hover {
  opacity: 0.8;
}
[data-am-fadeshow] .fs-quick-btn:first-child {
  background-color: coral;
}
[data-am-fadeshow] .fs-prev-btn, [data-am-fadeshow] .fs-next-btn {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  width: 100px;
  cursor: pointer;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-prev-btn, [data-am-fadeshow] .fs-next-btn {
    width: 50%;
  }
}
[data-am-fadeshow] .fs-prev-btn:before, [data-am-fadeshow] .fs-next-btn:before {
  position: absolute;
  top: 50%;
  font-size: 3vw;
  color: rgba(255, 255, 255, 0.5);
}
[data-am-fadeshow] .fs-prev-btn:hover, [data-am-fadeshow] .fs-next-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-prev-btn:hover, [data-am-fadeshow] .fs-next-btn:hover {
    background-color: rgba(255, 255, 255, 0);
  }
}
[data-am-fadeshow] .fs-prev-btn {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
[data-am-fadeshow] .fs-prev-btn:before {
  content: "❮";
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-prev-btn:before {
    left: 30px;
  }
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-prev-btn {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
[data-am-fadeshow] .fs-next-btn {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
[data-am-fadeshow] .fs-next-btn:before {
  content: "❯";
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-next-btn:before {
    right: 30px;
  }
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-next-btn {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
[data-am-fadeshow] input[type="radio"] {
  position: fixed;
  top: -9999px;
}
[data-am-fadeshow] input[type="radio"]:checked {
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) {
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-slides .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-slides .fs-slide:nth-child(5) {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-quick-nav .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-quick-nav .fs-quick-btn:nth-child(5) {
  background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-quick-nav .fs-quick-btn:nth-child(5):hover {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) {
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-slides .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-slides .fs-slide:nth-child(4) {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-quick-nav .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-quick-nav .fs-quick-btn:nth-child(4) {
  background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-quick-nav .fs-quick-btn:nth-child(4):hover {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) {
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-slides .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-slides .fs-slide:nth-child(3) {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-quick-nav .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-quick-nav .fs-quick-btn:nth-child(3) {
  background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-quick-nav .fs-quick-btn:nth-child(3):hover {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) {
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-slides .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-slides .fs-slide:nth-child(2) {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-quick-nav .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
  background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-quick-nav .fs-quick-btn:nth-child(2):hover {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) {
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-slides .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-slides .fs-slide:nth-child(1) {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-quick-nav .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
  background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-quick-nav .fs-quick-btn:nth-child(1):hover {
  opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:first-of-type:last-of-type ~ .fs-quick-nav,
[data-am-fadeshow] input[type="radio"]:checked:first-of-type:last-of-type ~ .fs-prev-nav,
[data-am-fadeshow] input[type="radio"]:checked:first-of-type:last-of-type ~ .fs-next-nav {
  display: none !important;
}
[data-am-fadeshow]:hover .fs-prev-btn,
[data-am-fadeshow]:hover .fs-next-btn {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
[data-am-fadeshow~="next-prev-navigation"] {
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5) {
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5) ~ .fs-prev-nav .fs-prev-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5) ~ .fs-prev-nav .fs-prev-btn:nth-child(4) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) {
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) ~ .fs-prev-nav .fs-prev-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) ~ .fs-prev-nav .fs-prev-btn:nth-child(3) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) ~ .fs-next-nav .fs-next-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) ~ .fs-next-nav .fs-next-btn:nth-child(5) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) {
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) ~ .fs-prev-nav .fs-prev-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) ~ .fs-prev-nav .fs-prev-btn:nth-child(2) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) ~ .fs-next-nav .fs-next-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) ~ .fs-next-nav .fs-next-btn:nth-child(4) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) {
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) ~ .fs-prev-nav .fs-prev-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) ~ .fs-prev-nav .fs-prev-btn:nth-child(1) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) ~ .fs-next-nav .fs-next-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) ~ .fs-next-nav .fs-next-btn:nth-child(3) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1) {
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1) ~ .fs-next-nav .fs-next-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1) ~ .fs-next-nav .fs-next-btn:nth-child(2) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] .fs-next-btn:nth-child(2) {
  display: block;
}
@keyframes quickNavAnimation-5 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  4%,
			20% {
    background-color: coral;
  }
  24%,
			100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes quickNavAnimation-5 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  4%,
				20% {
    background-color: coral;
  }
  24%,
				100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes slidesAnimation-5 {
  0% {
    opacity: 0;
  }
  4%,
			20% {
    opacity: 1;
  }
  24%,
			100% {
    opacity: 0;
  }
}
@-webkit-keyframes slidesAnimation-5 {
  0% {
    opacity: 0;
  }
  4%,
				20% {
    opacity: 1;
  }
  24%,
				100% {
    opacity: 0;
  }
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type {
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide {
  -webkit-animation: slidesAnimation-5 25s infinite;
  animation: slidesAnimation-5 25s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn {
  -webkit-animation: quickNavAnimation-5 25s infinite;
  animation: quickNavAnimation-5 25s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(1),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(2),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(3),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(3) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(4),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(4) {
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(5),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(5) {
  -webkit-animation-delay: 19s;
  animation-delay: 19s;
}

@keyframes quickNavAnimation-4 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  5%,
			25% {
    background-color: coral;
  }
  30%,
			100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes quickNavAnimation-4 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  5%,
				25% {
    background-color: coral;
  }
  30%,
				100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes slidesAnimation-4 {
  0% {
    opacity: 0;
  }
  5%,
			25% {
    opacity: 1;
  }
  30%,
			100% {
    opacity: 0;
  }
}
@-webkit-keyframes slidesAnimation-4 {
  0% {
    opacity: 0;
  }
  5%,
				25% {
    opacity: 1;
  }
  30%,
				100% {
    opacity: 0;
  }
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type {
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide {
  -webkit-animation: slidesAnimation-4 20s infinite;
  animation: slidesAnimation-4 20s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn {
  -webkit-animation: quickNavAnimation-4 20s infinite;
  animation: quickNavAnimation-4 20s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide:nth-child(1),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide:nth-child(2),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide:nth-child(3),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(3) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide:nth-child(4),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(4) {
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}

@keyframes quickNavAnimation-3 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  6.6666666667%,
			33.3333333333% {
    background-color: coral;
  }
  40%,
			100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes quickNavAnimation-3 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  6.6666666667%,
				33.3333333333% {
    background-color: coral;
  }
  40%,
				100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes slidesAnimation-3 {
  0% {
    opacity: 0;
  }
  6.6666666667%,
			33.3333333333% {
    opacity: 1;
  }
  40%,
			100% {
    opacity: 0;
  }
}
@-webkit-keyframes slidesAnimation-3 {
  0% {
    opacity: 0;
  }
  6.6666666667%,
				33.3333333333% {
    opacity: 1;
  }
  40%,
				100% {
    opacity: 0;
  }
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type {
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-slides .fs-slide {
  -webkit-animation: slidesAnimation-3 15s infinite;
  animation: slidesAnimation-3 15s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-quick-nav .fs-quick-btn {
  -webkit-animation: quickNavAnimation-3 15s infinite;
  animation: quickNavAnimation-3 15s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-slides .fs-slide:nth-child(1),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-slides .fs-slide:nth-child(2),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-slides .fs-slide:nth-child(3),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(3) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

@keyframes quickNavAnimation-2 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  10%,
			50% {
    background-color: coral;
  }
  60%,
			100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes quickNavAnimation-2 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  10%,
				50% {
    background-color: coral;
  }
  60%,
				100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes slidesAnimation-2 {
  0% {
    opacity: 0;
  }
  10%,
			50% {
    opacity: 1;
  }
  60%,
			100% {
    opacity: 0;
  }
}
@-webkit-keyframes slidesAnimation-2 {
  0% {
    opacity: 0;
  }
  10%,
				50% {
    opacity: 1;
  }
  60%,
				100% {
    opacity: 0;
  }
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type {
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-slides .fs-slide {
  -webkit-animation: slidesAnimation-2 10s infinite;
  animation: slidesAnimation-2 10s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-quick-nav .fs-quick-btn {
  -webkit-animation: quickNavAnimation-2 10s infinite;
  animation: quickNavAnimation-2 10s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-slides .fs-slide:nth-child(1),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-slides .fs-slide:nth-child(2),
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.container {
  position: relative;
  width: 1400px;
  height: 500px;
  top : 40%;
  left : 13%;
  overflow: hidden;
}

.tname {
  position: relative;
  font-family: 'Cafe24Oneprettynight';
  top : 100%;
  left : 13%;
  color : black;
  font-size: 40px;
  margin-top: 2%;
  width: 100%;
}
.facebook {
	width : 50px;
	height : 50px;
	position: absolute;
    left: 76.92%;
    top: 105.9%;
}
.facebook img{
  width: 30px;
  height: 30px;
}
.instagram {
	width : 50px;
	height : 50px;
	position: absolute;
    left: 79.2%;
    top: 105.9%;
}
.instagram img{
  width: 30px;
  height: 30px;
}
#create-kakao-link-btn img {
  width : 30px;
  height : 30px;
  position: absolute;
  left: 81.5%;
  top: 105.8%;
}
svg {
  position: relative;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
}

/* Necessary CSS */
svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  margin: 20px;
  position: absolute;
  left: 81.8%;
  top: 102%;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked+label svg #heart {
  transform: scale(0.2);
  fill: #E2264D;
  animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1;
}

.checkbox:checked+label svg #grp1 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s opacity .3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.ts {
  font-family: 'Cafe24Oneprettynight';
  position: relative;
  top : 107%;
  left : 13.3%;
}
.ts span{
  color: #FF9999;
}
.tshr {
  width: 1380px;
  margin-top: 7%;
  position : absolute;
}
.tct {
  font-size: 40px;
}
.tcontent {
  position: relative;
  top : 123.5%;
  left: 13%;
  font-size: 20px;
  width: 100%;
}
.tchr {
  width: 1380px;
  margin-top: 7%;
  position : absolute;
}
.tmap {
  font-size: 40px;
  position: relative;
  top : 162.5%;
  left: 13%;
}
.tcmap {
  width: 1350px;
  height: 500px;
  border: 1px solid gray;
  margin-top: 3%;
  margin-left: 3%;
}
.tmhr {
  width: 1380px;
  position : absolute;
}
.treview {
  font-size: 30px;
  position: relative;
  top : 241%;
  left: 13%;
}
.trhr {
  width: 1380px;
  position : absolute;
  margin-top: 31%;
}
.treview span{
  color: #FF9999;
}
.reviewlist {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 150px 150px 150px;
  font-size : 20px;
  margin-top: 5%;
  width : 0px;
}
.reviewdate {
  color : gray;
  font-size: 15px;
  margin-left: 1%;
}
.one {
  margin-left: 5%;
}
.two {
  margin-left: 20%;
}
.three {
  margin-left: 5%;
  margin-top: 5%;
}
.four {
  margin-left: 20%;
  margin-top: 5%;
}
.five {
  margin-left: 5%;
  margin-top: 10%;
}
.six {
  margin-left: 20%;
  margin-top: 10%;
}
.reviewmore {
  position: relative;
  top: 92%;
  left: 198%;
  width: 120px;
  height: 50px;
  background: none;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 20px;
  font-family: 'Cafe24Oneprettynight';
}
.moreimpo {
    position: relative;
    top: 105%;
    font-size: 30px;
    left: 13.2%;
    width : 100%;
}
.moreimpocontent{
  margin-top: 5%;
  font-size: 20px;
}
.mihr {
 width: 1380px;
  margin-top: 17%;
  position: relative;
  left: -14%;
}
#container {
    overflow: hidden;
    position: relative;
    top: 40%;
    left: 2%;
    border: 1px solid gray;
    width: 1300px;
    height: 600px;
    z-index: -1;
}
#mapWrapper {
	width:100%;
	height:100%;
	z-index:1;
}
#rvWrapper {
	width:50%;
	height:100%;
	top:0;
	right:0;
	position:absolute;
	z-index:0;
}
#container.view_roadview #mapWrapper {
	width: 50%;
}
#roadviewControl {
	position:absolute;
	top:5px;
	left:5px;
	width:42px;
	height:42px;
	z-index: 1;
	cursor: pointer; 
	background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) 0 -450px no-repeat;
}
#roadviewControl.active {
	background-position:0 -350px;
}
#close {
	position: absolute;
	padding: 4px;
	top: 5px;
	left: 5px;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #c8c8c8;
	box-shadow: 0px 1px #888;
}
#close .img {
	display: block;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png) no-repeat;
	width: 14px;
	height: 14px;
}
