@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
}
/* .thead{
  width: 100%;
  height: 329px;
  background: linear-gradient( to right,
                     rgba(20, 20, 20, 0.85) 0%,
                     rgba(20, 20, 20, 0.75) 25%,
                     rgba(20, 20, 20, 0.5) 50%,
                     rgba(20, 20, 20, 0.25) 75%,
                     rgba(20, 20, 20, 0) 100%
               ),
               url('../images/29.jpg');
 background-size: cover;
 background-repeat: no-repeat;
} */
.tour {
  position: relative;
  font-family: 'Roboto', sans-serif;
  top : 53%;
  left : 5%;
  color : white;
  width : 200px;
}
.live {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top : 47%;
  left: 1.5%;
  width: 140px;
  height: 65px;
  background: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  box-shadow: 2px 2px 6px 0px grey;
}

.cook {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top : 47%;
  left : 9.5%;
  width: 140px;
  height: 65px;
  background: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  box-shadow: 2px 2px 6px 0px grey;
}

.act {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top : 47%;
  left : 17.5%;
  width: 140px;
  height: 65px;
  background: none;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 20px;
  border: none;
  box-shadow: 2px 2px 6px 0px grey;
}
.livecount {
	font-family: 'Roboto', sans-serif;
	font-size : 15px;
	color : gray;
}
.cookcount {
	font-family: 'Roboto', sans-serif;
	font-size : 15px;
	color : gray;
}
.actcount {
	font-family: 'Roboto', sans-serif;
	font-size : 15px;
	color : gray;
}
.movelist {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 47%;
  left: 72.8%;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color : #0404048c;
  background : none;
}

.tourlist {
  display: grid;
  width : 0px;
  grid-template-columns: 370px 370px 370px 370px 370px;
  grid-template-rows: 500px 500px 500px;
  position: relative;
  top : 60%;
  left : 1.5%;
  font-family: 'Roboto', sans-serif;
}

.tourlist img {
  border-radius: 5px;
}
.st {
  color: #FF9999;
}
.tourlist a {
  text-decoration: none;
  color : black;
  font-size : 14px;
}
.one {
  margin-left: 1.5%;
  margin-right : 3%; 
  margin-bottom : 37%;
}