@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
}
/* .thead{
  width: 100%;
  height: 329px;
  background: linear-gradient( to right,
                     rgba(20, 20, 20, 0.85) 0%,
                     rgba(20, 20, 20, 0.75) 25%,
                     rgba(20, 20, 20, 0.5) 50%,
                     rgba(20, 20, 20, 0.25) 75%,
                     rgba(20, 20, 20, 0) 100%
               ),
               url('../images/29.jpg');
 background-size: cover;
 background-repeat: no-repeat;
} */
/* .timage {
  position: relative;
  width: 1400px;
  height: 500px;
  top : 40%;
  left : 13%;
  background-image: url('../images/01.jpg');
  background-size: cover;
} */

.container {
  position: relative;
  width: 1400px;
  height: 500px;
  top : 40%;
  left : 13%;
  overflow: hidden;
}

.tname {
  position: relative;
  font-family: 'Roboto', sans-serif;
  top : 100%;
  left : 18%;
  color : black;
  font-size: 30px;
  margin-top: 2%;
  width: 1000px;
}
.facebook {
	width : 50px;
	height : 50px;
	position: absolute;
    left: 74.92%;
    top: 168%;
}
.facebook img{
  width: 30px;
  height: 30px;
}
.instagram {
	width : 50px;
	height : 50px;
	position: absolute;
    left: 77.2%;
    top: 168%;
}
.instagram img{
  width: 30px;
  height: 30px;
}
#create-kakao-link-btn img {
	width: 30px;
    height: 30px;
    position: absolute;
    left: 79.5%;
    top: 167.91%;
}
svg {
  position: relative;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
}

/* Necessary CSS */
svg {
	cursor: pointer;
    overflow: visible;
    width: 60px;
    margin: 20px;
    position: absolute;
    left: 79.8%;
    top: 164.15%;
}
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked+label svg #heart {
  transform: scale(0.2);
  fill: #E2264D;
  animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1;
}

.checkbox:checked+label svg #grp1 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s opacity .3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.ts {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-top : 1%;
  left : 18.3%;
}
.ts span{
  color: #FF9999;
}
.tshr {
  width: 1230px;
  margin-top: 7%;
  position : absolute;
}
.tct {
  font-size: 30px;
}
.tcontent {
  position: relative;
  top : 123.5%;
  left: 18%;
  font-size: 20px;
  width: 100%;
}
.tcon {
	width: 1172px;
    margin-left: 1%;
    font-size: 17px;
}
.tchr {
  width: 1230px;
  margin-top: 7%;
  position : absolute;
}
.tmap {
  font-size: 30px;
  position: relative;
  top : 162.5%;
  left: 18%;
}
.tcmap {
  width: 1230px;
  height: 500px;
  border: 1px solid gray;
  margin-top: 3%;
  margin-left: 3%;
}
.tmhr {
  width: 1230px;
  position : absolute;
}
.treview {
  font-size: 24px;
  position: relative;
  top : 241%;
  left: 18%;
}
.trhr {
  width: 1230px;
  position : absolute;
  margin-top: 31%;
}
.treview span{
  color: #FF9999;
}
.reviewlist {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 150px 150px 150px;
  font-size : 20px;
  margin-top: 5%;
  width : 0px;
}
.reviewdate {
  color : gray;
  font-size: 15px;
  margin-left: 1%;
}
.one {
  margin-left: 5%;
}
.two {
  margin-left: 20%;
}
.three {
  margin-left: 5%;
  margin-top: 5%;
}
.four {
  margin-left: 20%;
  margin-top: 5%;
}
.five {
  margin-left: 5%;
  margin-top: 10%;
}
.six {
  margin-left: 20%;
  margin-top: 10%;
}
.reviewmore {
  position: relative;
  top: 358%;
  left: 189%;
  width: 83px;
  height: 32px;
  background: none;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
.moreimpo {
    position: relative;
    top: 105%;
    font-size: 24px;
    left: 18%;
    margin-top : 3%;
    width : 100%;
}
.moreimpocontent{
    margin-top: 5%;
    font-size: 17px;
    width: 1172px;
    margin-left: 1%;
}
.mihr {
 width: 1230px;
  margin-top: 17%;
  position: relative;
  left: -17.6%;
}
#container {
    overflow: hidden;
    position: relative;
    top: 40%;
    left: 2%;
    border: 1px solid gray;
    width: 1300px;
    height: 600px;
    z-index: -1;
}
#mapWrapper {
	width:100%;
	height:100%;
	z-index:1;
}
#rvWrapper {
	width:50%;
	height:100%;
	top:0;
	right:0;
	position:absolute;
	z-index:0;
}
#container.view_roadview #mapWrapper {
	width: 50%;
}
#roadviewControl {
	position:absolute;
	top:5px;
	left:5px;
	width:42px;
	height:42px;
	z-index: 1;
	cursor: pointer; 
	background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) 0 -450px no-repeat;
}
#roadviewControl.active {
	background-position:0 -350px;
}
#close {
	position: absolute;
	padding: 4px;
	top: 5px;
	left: 5px;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #c8c8c8;
	box-shadow: 0px 1px #888;
}
#close .img {
	display: block;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png) no-repeat;
	width: 14px;
	height: 14px;
}
